In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/80-cereals/cereal.csv

# Pandas SeriesÂ¶

A Pandas Series is a one-dimensional labeled array. Think of it as a single column in an Excel spreadsheet or a single list with labels. To create a Series, use the pd.Series() function:

In [2]:
data = pd.Series([3, 5, 7, 9])

data

0    3
1    5
2    7
3    9
dtype: int64

# Pandas DataFrame

A DataFrame is a two-dimensional labeled data structure with columns that can be of different types (similar to a table in Excel). You can think of a DataFrame as a collection of Series objects. To create a DataFrame, use the pd.DataFrame() function:

In [3]:
data = {'Name': ['Alice', 'Bob', 'Carol'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data)

df

    Name  Age           City
0  Alice   25       New York
1    Bob   30  San Francisco
2  Carol   35    Los Angeles

# Load and Explore Data

Reading and Writing Data Pandas can read and write data in various formats, such as CSV, Excel, and SQL databases. Here's an example of reading a CSV file:

In [4]:
df = pd.read_csv('/kaggle/input/80-cereals/cereal.csv')

df

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [5]:
# What's df's datatype?

type(df)

pandas.core.frame.DataFrame

In [6]:
# Top n rows of a dataframe. Default n=5

df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [7]:
# Bottom rows of a dataframe
df.tail()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
72,Triples,G,C,110,2,1,250,0.0,21.0,3,60,25,3,1.0,0.75,39.106174
73,Trix,G,C,110,1,1,140,0.0,13.0,12,25,25,2,1.0,1.00,27.753301
74,Wheat Chex,R,C,100,3,1,230,3.0,17.0,3,115,25,1,1.0,0.67,49.787445
75,Wheaties,G,C,100,3,1,200,3.0,17.0,3,110,25,1,1.0,1.00,51.592193
76,Wheaties Honey Gold,G,C,110,2,1,200,1.0,16.0,8,60,25,1,1.0,0.75,36.187559

In [8]:
# Describe gets the standard deviation and basic stats info
df.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [9]:
# View columns
df.columns

Index(['name', 'mfr', 'type', 'calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating'],
      dtype='object')

# 2 Ways to reference a column/Series in a DataFrame

- dot notation eg. df.rating
- bracket notation eg. df['rating']

In [10]:
# Row and column information for rating

df.rating
df['rating']

# What's the type?
type(df.rating)

pandas.core.series.Series

In [11]:
# Let's get some averages!

df.rating.mean()
df['sugars'].median()
df.calories.mode()

0    110
dtype: int64

# Selecting and Slicing Data
Pandas provides various ways to select and slice data from a DataFrame. Here are some examples:

- Select a single column: df['Name']
- Select multiple columns: df[['Name', 'Age']]
- Select rows by index: df.loc[0] or df.iloc[0]
- Slice rows: df[1:3]

In [12]:
df.iloc[54]

name        Puffed Rice
mfr                   Q
type                  C
calories             50
protein               1
fat                   0
sodium                0
fiber               0.0
carbo              13.0
sugars                0
potass               15
vitamins              0
shelf                 3
weight              0.5
cups                1.0
rating        60.756112
Name: 54, dtype: object

In [13]:
df.loc[10]

name        Cap'n'Crunch
mfr                    Q
type                   C
calories             120
protein                1
fat                    2
sodium               220
fiber                0.0
carbo               12.0
sugars                12
potass                35
vitamins              25
shelf                  2
weight               1.0
cups                0.75
rating         18.042851
Name: 10, dtype: object

In [14]:
df[["sugars", "rating"]]

    sugars     rating
0        6  68.402973
1        8  33.983679
2        5  59.425505
3        0  93.704912
4        8  34.384843
..     ...        ...
72       3  39.106174
73      12  27.753301
74       3  49.787445
75       3  51.592193
76       8  36.187559

[77 rows x 2 columns]

In [15]:
df[5:10]

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.00,0.75,29.509541
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.00,1.00,33.174094
7,Basic 4,G,C,130,3,2,210,2.0,18.0,8,100,25,3,1.33,0.75,37.038562
8,Bran Chex,R,C,90,2,1,200,4.0,15.0,6,125,25,1,1.00,0.67,49.120253
9,Bran Flakes,P,C,90,3,0,210,5.0,13.0,5,190,25,3,1.00,0.67,53.313813